<md-card-header class="mp-header-welcome">
    <md-card-header-text>
        <span class="md-title">Bem-vindo!</span>
        <button class="bt-header close-welcome" type="button" name="button"></button>
    </md-card-header-text>
</md-card-header>

<div class="mp-box-text md-margin-2" layout-xs="column" layout="row">
    <div class="mp-text-box" flex-xs="100" flex="70"  flex-order-xs="2">
        <h3 class="title-left">Olá! Bem vindo ao seu painel MedPass!</h3>
        <p class="text-left">
            Aqui você poderá ver todos os seus dados de saúde organizados e prontos para você usar de forma prática. Eu sou um pássaro inteligente e já preparei boas orientações para você cuidar cada vez melhor da sua saúde! Já analisei suas respostas sobre hábitos e sobre sua saúde, separei seus riscos em cards prontos para você entender o que precisa fazer primeiro! Agora é só começar!
        </p>
    </div>
    <div class="mp-box-text" flex-xs="100" flex-xs="100" flex="30" layout="row" layout-align="center center" flex-order-xs="1">
        <img class="logo-help" src="images/bentivi.png"/>
    </div>
</div>
